body {
  overflow-x: hidden; 
  
}





.head{
  text-align: center;
}

.navbar-brand{
  font-size: 40px !important;
}

.container-md{
  background-color: #0000FF;
  margin-left: 40px;
  max-width: auto;
  margin-right: 40px;
  
}




@media only screen and (max-width: 991px) and (min-width:768px) {
#firstname{
   display: none;
}
  .container-sm{
  background-color: #0000FF;
  margin-left: 0px;
  max-width: auto;
  margin-right: 0px;
  
}
}

@media only screen and (max-width: 768px) {

  .container-md{
  background-color:  #FFA500;
  margin-left: 70px;
  max-width: auto;
  margin-right: 70px;
  
}
   .container-sm{
  background-color: #FFA500;
  margin-left: 0px;
  max-width: auto;
  margin-right: 0px;
  
}

    .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}


  
  .show{
   background: rgba(255,255,255,0.5); 
  }
 
  .container-xs{

  background-color: #FFA500;
  margin-left: 0px;
  max-width: auto;
  margin-right: 0px;
 
  }
}
